{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div>
            {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
        </div>
    {% endif %}
  {% endwith %}

  <figure class="text-center">
    <blockquote class="blockquote">
      <h1>Blood Link BAIUST</h1>
    </blockquote>
  </figure>

  {% for post in posts %}
    <div>
      <h1><strong>{{ post.name }}</strong> needs {{ post.blood_group }} blood @ {{ post.address }}</h1>
      <h1>Contact Number: {{ post.number }}</h1>
      <p><strong>Deadline: </strong>{{ post.deadline }}</p>

      <a href="{{ url_for('task.view_post', id=post.id) }}"><button>View</button></a>
    </div>
  {% endfor %}

{% endblock %}